# qmake / build artifacts
Makefile
.qmake.stash
moc_predefs.h
moc_*.cpp
*.moc
*.o
ui_*.h
# binaries
jookkit
tst_jookkit
tst_integration
dist-win/
docker/ca-certificates.crt
target_wrapper.sh
docker/jre-win.zip
